.contact {
    background: var(--gradient-purple);
    padding: 3.75rem 0;
    width: 100%;
}
.contact img {
    width: 92%;
}
.contact h2 {
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 700;
    margin-bottom: 1.875rem;
}
.contact form input,
.contact form textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1.25rem;
    color: var(--text-white);
    margin: 0 0 0.5rem 0;
    padding: 1.125rem 1.625rem;
    font-weight: 500;
    font-size: 1.125rem;
    letter-spacing: 0.05rem;
    transition: 0.3s ease-in-out;
}
.contact form input:focus,
.contact form textarea:focus {
    background: rgba(255, 255, 255, 1);
    color: var(--bg-dark);
}
.contact form input::placeholder,
.contact form textarea::placeholder {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-white);
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
    color: var(--bg-dark);
    opacity: 0.8;
}
.contact form button {
    font-weight: 700;
    color: #000;
    background-color: var(--text-white);
    padding: 0.875rem 3rem;
    font-size: 1.125rem;
    margin-top: 1.56rem;
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;
}
.contact form button span {
    z-index: 1;
    position: relative;
}
.contact form button:hover {
    color: var(--text-white);
}
.contact form button::before {
    content: '';
    background: var(--bg-dark);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
    width: 100%;
}
.email-button {
    font-size: clamp(0.875rem, 3.5vw, 3rem);
    font-weight: 800;
    color: var(--text-white);
    background: transparent;
    border: 3px solid var(--text-white);
    padding: 20px;
    cursor: pointer;
}
.email-button:hover {
    text-decoration: underline;
}
