.skill {
    padding: 0 0 3.125rem 0;
    position: relative;
}
.skill-bx {
    background: #151515;
    border-radius: 4rem;
    text-align: center;
    padding: 3.75rem 3.125rem;
    margin-top: -3.75rem;
}
.skill h2 {
    font-size: 2.8rem;
    font-weight: 700;
}
.skill p {
    color: var(--text-muted);
    font-size: 1.125rem;
    letter-spacing: 0.05rem;
    line-height: 1.5em;
    margin: 0.875rem 0 4.68rem 0;
}
.skill-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 4rem;
    padding-top: 2rem;
}
.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    width: 100px;
}
.skill-item img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.skill-item h5 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-white);
    text-align: center;
    margin: 0;
}
.background-image-left {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
}
